// header animation
@-webkit-keyframes appearFromTop { 
    from { opacity:0; } to { opacity:1; } 
    from { top: -50px;} to { top: 0px;}
}
@-moz-keyframes appearFromTop { 
    from { opacity:0; } to { opacity:1; } 
    from { top: -50px;} to { top: 0px;}
}
@keyframes appearFromTop { 
    from { opacity:0; } to { opacity:1; } 
    from { top: -50px;} to { top: 0px;}
}

.appearence-from-top {
  opacity:0;
  animation:appearFromTop ease-in 1;

  animation-fill-mode:forwards;

  animation-duration:.5s;
}

.brightness-darker{
    filter: brightness(100%);
}

.brightness-darker:hover{
    filter: brightness(90%);
    transition: all .5s ease;
}

// menu animation
.box-appear-toggler:checked + .hidden-box{
    display: block;
}

.hidden-box{
    display: none;
}

// qa animation
.disapeared{
    transition: all .2s ease;
}

.disapear:hover .disapeared{
    opacity: 0;
}

// bs animation
.card-rotate-inner{
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}

.card-rotate:hover .card-rotate-inner{
    transform: rotateY(180deg);
}

.card-rotate-front, .card-rotate-back{
    backface-visibility: hidden;
    position: absolute;
}

.card-rotate-back{
    transform: rotateY(180deg);
}

// js animation
.compressed{
    transition: all .2s linear;
}

.compression:hover .compressed{
    transform: scale(0,0) translate(100%, 100%) rotate(90deg);
}

// java and contacts animation
.droped{
    transition: all .2s ease;
}

.dropping:hover .droped{
    transform: translate(0, 50%) scale(1, 0);
}

// php animation
.compressed-in-corner{
    transition: all .2s ease;
}

.compres-in-corner:hover .compressed-in-corner{
    transform: translate(50%, -50%) scale(0, 0);;
}

// dotnet animation
.rotated{
    transition: all .3s ease;
}

.ratation-desapear:hover .rotated{
    transform: rotate(90deg) scale(0, 0);
    opacity: 0;
}

//events and blog animation
.moved{
    transition: all .3s ease;
}

.moving:hover .moved{
    transform: translate(50%, 0) scale(0, 1);
}