$default-font: Arial, Helvetica, sans-serif;

@mixin card-flex ($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
    
    position: relative;
}

@mixin card-front ($color, $justify-content, $align-items){
    @include card-flex($justify-content, $align-items);

    background-color: $color;
    width: 100%;
    height: 100%;
}

.content-wrp{
    width: 70%;

    margin: auto;
    margin-top: 50px;
    position: relative;
    padding-top: 50%;
}

.cards-wrp{
    grid-column: 2;
    grid-row: 2;

    position: absolute;
    top: 0;
    left: 0;

    padding: 5% 0;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-rows: 40% 10% 15% 10% 15% 10%;
    z-index: 1;
}

.card-header-center{
    font-family: $default-font;
    font-size: 5vw;   
    font-weight: 100;   
    color: white;   
}

.binary-studio-wrp{
    grid-area: 1 / 1 / 3 / 2;
    @include card-flex(center, center);

    img{
        max-width: 80%;
        max-height: 80%;

        margin:auto;
    }

    .card-content{
        @include card-flex(center, center);
    }

    .card-front{
        @include card-front(white, center, center)
    }
}

.qa-wrp{
    grid-area: 3 / 1 / 7 / 2;
    position: relative;

    .card-front{
        @include card-front(#52BF77, center, center);
    }
}

.js-wrp{
    grid-area: 1 / 2 / 5 / 3;
    position: relative;

    .card-header-center{
        font-size: 6vw;   
        font-weight: 700;
        color: black;

        margin-right: 10px;
    }

    .card-front{
        @include card-front(#F7CF69, flex-end, flex-end);
    }
}

.java-wrp{
    grid-area: 5 / 2 / 7 / 3;
    position: relative;

    .card-header-center{
        font-size: 4vw; 
    }

    .card-front{
        @include card-front(#E12B4C, center, center);
    }
}

.php-wrp{
    grid-area: 1 / 3 / 2 / 5;
    position: relative;

    .card-header-center{
        font-style: italic;
        color: black;
    }

    .card-front{
        @include card-front(#8893C0, center, center);
    }
}

.dot-net-wrp{
    grid-area: 2 / 3 / 7 / 4;
    position: relative;

    .card-front{
        @include card-front(#642077, center, center);
    }
}

.events-wrp{
    grid-area: 2 / 4 / 4 / 5;
    position: relative;

    .card-header-center{
        font-size: 1.5vw;
    }

    .card-front{
        @include card-front(#2D99FE, center, center);
    }

    .card-content{
        font-weight: 300;
        font-size: 14px;
    }
}

.blog-wrp{
    grid-area: 4 / 4 / 6 / 5;
    position: relative;

    .card-header-center{
        font-size: 1.5vw;
    }

    .card-front{
        @include card-front(#0443A3, center, center);
    }

    .card-content{
        font-weight: 300;
        font-size: 14px;
    }
}

.contacts-wrp{
    grid-area: 6 / 4 / 7 / 5;
    position: relative;

    .card-header-center{
        font-size: 1.5vw;
    }

    .card-front{
        @include card-front(#00255F, center, center);
    }

    .card-content{
        padding: 1vw;

        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
    }

    .fa{
        font-size: 25px;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .fa:hover{
        color: #00255F;
    }
}

.card-content{
    background-color: white;
    position: absolute;

    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;

    font-family: $default-font;
    font-weight: 700;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-front{
    z-index: 1;
    height: 100%;
    width: 100%;
}

.btn{
    border-radius: 8px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: $default-font;

    transition: all .2s ease;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(90%);
}

.join-btn{
    background-color: #2D99FE;
}