$accent-color: #F7991C;
$default-font: Arial, Helvetica, sans-serif;

.header{
    height: 50px;
    width: 100%;
    background-color: white;
    padding: 0 15% 0 15%;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    img{
        max-height: 50px;
    }
}

.header-nav-and-notifications{
    display: flex;
    align-items: center;

    .fa-bell{
        font-size: 20px;
        color: grey;

        margin-right: .5em;
    }

    .fa-bell:hover{
        cursor: pointer;
    }
    
    .fa-circle{
        color: $accent-color;
        font-size: 40px;
    }
}

.username-first{
    position: absolute;

    font-size: 28px;
    font-weight: 600;

    color:white;
}

.right-header{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header:hover{
    cursor: pointer;
}

#menu_toggler{
    display: none;
}

.menu{
    position: absolute;
    top: 45px;
    right: 15%;
    padding: 20px;
    background-color: white;
    font-family: $default-font;

    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    .username{
        text-align: center;
        opacity: .5;
        padding: 0 10px;
    }

    a{
        display: block;
        padding: 0 10px;
    }

    a:hover{
        cursor: pointer;
        background-color: azure;
    }
}