@media screen and (max-width: 768px){
    .content-wrp{
        width: 90%;
        padding-top: 100%;
    }

    .header{
        padding: 0 5% 0 5%;
    }

    .cards-wrp{
        display: grid;
        grid-template-columns: 40% 10% 30% 20%;
        grid-template-rows: 20% 20% 10% 25% 25%;
        z-index: 1;
    }

    .binary-studio-wrp{
        grid-area: 1 / 1 / 4 / 2;
    }

    .qa-wrp{
        grid-area: 5 / 1 / 6 / 3;
    }

    .java-wrp{
        grid-area: 4 / 1 / 5 / 3;
    }

    .dot-net-wrp{
        grid-area: 5 / 3 / 6 / 5;
    }

    .php-wrp{
        grid-area: 4 / 3 / 5 / 5;
    }

    .js-wrp{
        grid-area: 1 / 2 / 4 / 4;
    }

    .events-wrp{
        grid-area: 1 / 4 / 2 / 5;
    }

    .blog-wrp{
        grid-area: 2 / 4 / 3 / 5;
    }

    .contacts-wrp{
        grid-area: 3 / 4 / 4 / 5;
    }
}