.notification-wrp{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
}

.notification-msg-wrp{
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 10px;

    color: white;
    opacity: .9;

    display: flex;
    align-items: center;

    .fa{
        font-size: 28px;
        margin: 10px;
    }
}

.notification-header{
    font-weight: 800;
}

.success-msg{
    background-color: #5ece5a;
}

.error-msg{
    background-color: #df453d;
}

.warning-msg{
    background-color: #f0bb34;
}